body{
    margin: 0;
    color: white;
    background-color: rgb(9, 9, 34);
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
}

.name{
    margin-top: auto;
    margin-bottom: auto;
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

li{
    list-style: none;
    margin-left: 8px;
    padding: 10px;
    background-color: red;
}

.card-connect{
    margin-top: 100px;
    color: black;
    width: 50%;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: stretch;
    border-radius: 4px;
}

input{
    border: none;
    border-bottom: 2px solid green;
    padding: 0;
    transition: all 1s ease-in-out;
}

input:focus{
    outline: none;

}

.card-title{
    font-weight: bold;
    height: 20%;
    margin-left: -4px;
    font-size: large;
}

.card-content{
    display: grid;
    height: 100%;
}

label{
    color: gray;
    font-weight: bold;
    margin-top: 10px;
}
.card-action{
    margin-top: 30px;
    height: 20%;
    display: flex;
    justify-content: end;
}

.btn:hover{
    background-color: transparent;
    outline: 2px solid green;
    cursor: pointer;
}

.btn{
    margin-top: auto;
    border-radius: 4px;
    margin-bottom: auto;
    padding: 8px;
    transition: all 0.5s ease-in-out;
    background-color: green;
}

@media screen and (max-width: 1250px){
    footer{
        display: none;
    }
}
